<section>
    @if (cartService.cart()?.items?.length! > 0) {
    <div class="flex flex-col md:flex-row w-full items-start gap-4 md:gap-6 mt-16 md:mt-32 px-2 sm:px-4">
        <div class="w-full md:w-3/4">
            @for (item of cartService.cart()?.items; track item.productId) {
            <app-cart-item [item]="item"></app-cart-item>
            }
        </div>
        <div class="w-full md:w-1/4 mt-6 md:mt-0">
            <app-order-summary></app-order-summary>
        </div>
    </div>
    } @else {
    <app-empty-state></app-empty-state>
    }
</section>