<div class="rounded-lg border border-gray-200 bg-white p-2 sm:p-4 shadow-sm mb-2 sm:mb-4">
    <div class="flex flex-col sm:flex-row items-center justify-between gap-4 sm:gap-6">
        <a routerLink="/shop/{{item().productId}}" class="shrink order-1">
            <img src="{{item().pictureUrl}}" alt="product image" class="h-18 w-16">
        </a>
        <div class="flex items-center justify-between order-3 w-full sm:w-auto">
            <div class="flex items-center align-middle gap-2 sm:gap-3">
                <button mat-icon-button (click)="decrementQuantity()">
                    <mat-icon class="text-red-600">remove</mat-icon>
                </button>
                <div class="font-semibold text-lg sm:text-xl mb-1">{{item().quantity}}</div>
                <button mat-icon-button (click)="incrementQuantity()">
                    <mat-icon class="text-green-600">add</mat-icon>
                </button>
            </div>
            <div class="text-end order-4 w-24 sm:w-32">
                <p class="font-bold text-lg sm:text-xl">{{item().price | currency}}</p>
            </div>
        </div>
        <div class="w-full flex-1 space-y-2 sm:space-y-4 order-2 max-w-xs sm:max-w-md">
            <a routerLink="/shop/{{item().productId}}" class="font-medium text-base sm:text-lg">
                {{item().productName}}
            </a>
            <div class="flex items-center gap-2 sm:gap-4">
                <button mat-button color="warn" (click)="removeItemFromCart()">
                    <mat-icon>delete</mat-icon>
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>