<section class="w-full mx-auto pt-4 pb-10">
  <div class="w-full max-w-5xl mx-auto mb-8 px-2">
    <div class="relative w-full h-56 sm:h-72 md:h-96 rounded-lg overflow-hidden flex items-center justify-center bg-blue-200">
      <img
        routerLink="/shop"
        src="/images/hero1.png"
        alt="Banner"
        class="w-full h-full object-cover flex-shrink-0 cursor-pointer"
        style="width: 100%; height: 100%;"
      />
    </div>
  </div>

  <div class="w-full max-w-5xl mx-auto flex flex-col md:flex-row gap-6 mb-10 px-2">
    @for (banner of offerBanners; track $index) {
      <div class="relative w-full md:w-1/2 h-64 rounded-lg overflow-hidden">
        <a [routerLink]="['/shop']" [queryParams]="{ type: banner.type }" class="block w-full h-full">
          <img [src]="banner.image" alt="{{ banner.type }} Offer" class="w-full h-full object-fit" />
          <div class="absolute bottom-0 left-0 w-full bg-black/60 text-white text-lg font-bold py-3 text-center">
            See the offer: {{ banner.type }}
          </div>
        </a>
      </div>
    }
  </div>

<mat-divider class="border-gray-300"></mat-divider>

  <section id="contact" class="mt-16 md:mt-18 lg:mt-22 px-4">
    <app-contact></app-contact>
  </section>
</section>